.u-center-text {text-align: center !important;}

.u-magrin-bottom-small {margin-bottom: 1.5rem !important;}
.u-magrin-bottom-meduim {margin-bottom: 4.5rem !important;}
.u-magrin-bottom-big {margin-bottom: 8rem !important;}

.u-magrin-top-small {margin-top: 1.5rem !important;}
.u-magrin-top-meduim {margin-top: 4.5rem !important;}
.u-magrin-top-big {margin-top: 8rem !important;}
.u-magrin-top-huge {margin-top: 10rem !important;}